
<div *ngIf="isLoading" [class.loading]="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="page-container">
  <div *ngIf="!isLoading" class="content">
    <mat-card *ngFor="let info of data" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ info.description }}</mat-card-title>
      </mat-card-header>
      <div mat-card-image class="imagewrapper" >
        <img [ngSrc]="info.image" fill priority alt="Photo">
      </div> 
    </mat-card>
  </div>
  <div class="actions">
    <button class="btn" (click)="goToNextPage.emit()" mat-raised-button color="accent">See more info</button>
  </div>
</div>