.page-container {
  max-width: 800px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagewrapper {
  width: 250px;
  height: 250px;
}

img {
  object-fit: cover;
}

.example-card {
  margin: 12px;
  width: 250px;
  color: white;
}

mat-card-title {
  text-transform: capitalize;
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.btn {
  width: 400px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}