<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>App</span>
    <span class="example-spacer"></span>
    <button (click)="logUser()" mat-raised-button color="accent" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>{{auth.isLogged() ? 'logout' : 'login'}}</mat-icon>
      <span>{{ auth.isLogged() ? 'logout' : 'login' }}</span>
    </button>
  </mat-toolbar>
</header>
<body class="content">
   <router-outlet></router-outlet>
</body>
