/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.errorAlertMessage {
  background-color: #F47575;
  color: white;
}

.warningAlertMessage {
  background-color: #FFEBA1;
}